<%= form_for @gallery do |form| %>
  <% if @gallery.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :gallery_name, required: "true" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :gallery_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
