<center><div class="images_count">Images Count:<span id="count"></span></div></center>
<div class="gallery_page">
  <h1>Galleries</h1>

  <%= link_to 'New Gallery', new_gallery_path, class: "new_btn btn btn-primary pull-right" %>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% cache(@galleries, expires_in: 5.minute) do %>
        <% @galleries.each do |gallery| %>
          <tr>
            <td><%= gallery.name %></td>
            <td><%= image_tag(gallery.image.url(:thumb)) unless gallery.image.url.nil? %></td>
            <td><%= link_to 'Show', gallery %></td>
            <td><%= link_to 'Edit', edit_gallery_path(gallery) %></td>
            <td><%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @galleries %>

<hr>

<h3>Import CSV</h3>
<%= form_tag import_csv_galleries_path, :multipart => true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>

<% content_for :custom_js do %>
  <script type="text/javascript">
    setInterval(fetch_images_count, 5000);
  </script>
<% end %>